@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hide-scroll::-webkit-scrollbar { 
  display: none; 
}

.intro,
footer {
  width: 100px;
  margin: auto;
}

.list {
  width: 430px;
  margin: 10px auto;
  padding: 15px;
}
.item {
  border: 1px solid rgb(197, 197, 197);
  border-radius: 10px;
  overflow: hidden;
  transform-origin: 30% 50% 0px;
  padding-left: 20px;
  background: white;
  max-height: 100%;
}
.item .dragHandle {
  visibility: hidden;
  position: absolute;
  top: 10px;
  left: 0;
  cursor: move;
  width: 20px;
  height: 16px;
  background: url('grippy.png') 30% 50% no-repeat no-repeat;
}
.item:hover .dragHandle,
.item.dragged .dragHandle {
  visibility: visible;
}
.item h2 {
  margin: 0;
}
.item .subtitle {
  font-weight: bold;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
